In [2]:
from sqlalchemy import (create_engine, 
                        inspect, 
                        text, 
                        select, 
                        MetaData, 
                        Table, 
                        and_,
                        or_,
                        desc,
                        asc,
                        func,
                        )

In [5]:
# dialect+driver://username:password@host:port/database

# postresql+psycopg2://will:willspassword@local_authirty.aws:8000/annexA

# sqlite+pysqlite://///workspaces/ERN-sessions/SQL Learning/chinook.db

chinook_engine = create_engine('sqlite+pysqlite:////workspaces/ERN-sessions/SQL Learning/chinook.db')

with chinook_engine.connect() as con:
    inspection = inspect(chinook_engine)
    print(inspection.get_table_names())

['albums', 'artists', 'customers', 'employees', 'genres', 'invoice_items', 'invoices', 'media_types', 'playlist_track', 'playlists', 'tracks']

In [8]:
gravity_engine = create_engine('sqlite+pysqlite:////workspaces/ERN-sessions/SQL Learning/gravity.db')

with gravity_engine.connect() as con:
    gravity_inspection = inspect(gravity_engine)
    print(gravity_inspection.get_table_names())

['address', 'address_status', 'author', 'book', 'book_author', 'book_language', 'country', 'cust_order', 'customer', 'customer_address', 'order_history', 'order_line', 'order_status', 'publisher', 'shipping_method']

In [19]:
chinook_metadata = MetaData()

print(chinook_metadata)

tracks = Table('tracks', chinook_metadata, autoload_with=chinook_engine)

# tracks.c.keys()

repr(tracks)

MetaData()

"Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)"

In [20]:
# make and empty meatadata class for the gravity db - gravity_metadata
# make a table for the book - call it books
# get the names of the columns in the book table

gravity_metadata = MetaData()
books = Table('book', gravity_metadata, autoload_with=gravity_engine)
books.c.keys()

['book_id',
 'title',
 'isbn13',
 'language_id',
 'num_pages',
 'publication_date',
 'publisher_id']

In [22]:
import pandas as pd

with chinook_engine.connect() as con:
    stmt = "SELECT * FROM tracks" # statement
    result_proxy = con.execute(text(stmt))# results proxy 
    result = result_proxy.fetchmany(size=20) # fetch results 

all_tracks = pd.DataFrame(result)

all_tracks

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
10,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
11,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
12,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
13,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
14,15,Go Down,4,1,1,AC/DC,331180,10847611,0.99
15,16,Dog Eat Dog,4,1,1,AC/DC,215196,7032162,0.99
16,17,Let There Be Rock,4,1,1,AC/DC,366654,12021261,0.99
17,18,Bad Boy Boogie,4,1,1,AC/DC,267728,8776140,0.99
18,19,Problem Child,4,1,1,AC/DC,325041,10617116,0.99
19,20,Overdose,4,1,1,AC/DC,369319,12066294,0.99

In [23]:
with gravity_engine.connect() as con:
    stmt = "SELECT * FROM book"
    result_proxy = con.execute(text(stmt))
    result = result_proxy.fetchmany(size=20)

books_df = pd.DataFrame(result)

books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416
5,6,Life Is a Dream and Other Spanish Classics (Er...,73999140774,1,298,2000-04-01,96
6,7,William Goldman: Four Screenplays,73999254907,2,504,2000-05-01,95
7,8,The Season: A Candid Look at Broadway,73999768442,1,448,2004-07-01,1136
8,9,The Beatles Complete - Updated Edition,73999960822,1,303,1986-12-01,835
9,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591
10,11,The Complete Anne of Green Gables Boxed Set (A...,76783609419,1,2088,1998-10-06,1891
11,12,Plants Bite Back! (DK Readers),635517047547,1,48,1999-10-25,567
12,13,The Book of Awakening: Having the Life You Wan...,645241001173,1,438,2000-05-31,435
13,14,Risotto: 30 Simply Delicious Vegetarian Recipe...,694055000612,1,64,2001-03-01,1739
14,15,Prétear Vol. 3 (Prétear #3),702727014581,1,172,2004-10-12,35
15,16,The Mystery in the Rocky Mountains,710430023622,1,145,2001-04-01,354
16,17,The Mystery on the Mighty Mississippi,710430023639,1,142,2001-04-01,354
17,18,Programming in C,752063326664,1,576,2004-07-08,1749
18,19,PHP and MySQL Web Development (Developer's Lib...,752063326725,2,1008,2004-10-01,1749
19,20,Manhunt Official Strategy Guide,752073003227,1,175,2003-11-25,313

In [27]:
with chinook_engine.connect() as con:
    stmt = select(tracks)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)

books_df  = pd.DataFrame(result)
books_df

# the first ten rows of the books table we made earlier

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99

In [28]:
with gravity_engine.connect() as con:
    stmt = select(books)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)

books_df = pd.DataFrame(result)
books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416
5,6,Life Is a Dream and Other Spanish Classics (Er...,73999140774,1,298,2000-04-01,96
6,7,William Goldman: Four Screenplays,73999254907,2,504,2000-05-01,95
7,8,The Season: A Candid Look at Broadway,73999768442,1,448,2004-07-01,1136
8,9,The Beatles Complete - Updated Edition,73999960822,1,303,1986-12-01,835
9,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591

In [31]:
# by using a .where() on a select() we can give simple criteria for a select statement

# or_ and_

with chinook_engine.connect() as con:
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1,  
                                    tracks.columns.AlbumId == 2))
    print(stmt)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()

album_id_1 = pd.DataFrame(result)
album_id_1

# 'Working Effectively with Legacy Code' and "The Basic Works of Aristotle"

SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
WHERE tracks."AlbumId" = :AlbumId_1 OR tracks."AlbumId" = :AlbumId_2

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
10,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99

In [34]:
# 'Working Effectively with Legacy Code' and "Working Effectively with Legacy Code"

with gravity_engine.connect() as con:
    stmt = select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
                                   books.columns.title == 'The Basic Works of Aristotle'))
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()

two_books = pd.DataFrame(result)
two_books

# result = gravity_engine.connect().execute(select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
#                                    books.columns.title == 'The Basic Works of Aristotle'))).fetchall()

# two_books = pd.DataFrame(result)
# two_books

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591
1,3216,The Basic Works of Aristotle,9780375757990,1,1487,2009-08-19,1282

In [37]:
with chinook_engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer.desc(), tracks.columns.Name.desc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=20)

composers = pd.DataFrame(result)
composers

# ten longest books from gravity

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,820,Time To Kill,66,1,1,roger glover,351033,11354742,0.99
1,819,Talk About Love,66,1,1,roger glover,247823,8072171,0.99
2,824,Solitaire,66,1,1,roger glover,282226,9157021,0.99
3,821,Ramshackle Man,66,1,1,roger glover,334445,10874679,0.99
4,825,One Man's Meat,66,1,1,roger glover,278804,9068960,0.99
5,817,Lick It Up,66,1,1,roger glover,240274,7792604,0.99
6,822,A Twist In The Tail,66,1,1,roger glover,257462,8413103,0.99
7,1055,Loves Been Good To Me,83,1,12,rod mckuen,203964,6645365,0.99
8,1041,For Once In My Life,83,1,12,orlando murden/ronald miller,171154,5557537,0.99
9,1052,The Lady Is A Tramp,83,1,12,lorenz hart/richard rodgers,184111,5987372,0.99
10,823,Nasty Piece Of Work,66,1,1,jon lord/roger glover,276662,9076997,0.99
11,818,Anya,66,1,1,jon lord/roger glover,392437,12754921,0.99
12,1044,My Kind Of Town,83,1,12,jimmy van heusen/sammy cahn,188499,6119915,0.99
13,1042,Love And Marriage,83,1,12,jimmy van heusen/sammy cahn,89730,2930596,0.99
14,1049,Come Fly With Me,83,1,12,jimmy van heusen/sammy cahn,190458,6231029,0.99
15,1053,"Bad, Bad Leroy Brown",83,1,12,jim croce,169900,5548581,0.99
16,816,The Battle Rages On,66,1,1,ian paice/jon lord,356963,11626228,0.99
17,1038,Moon River,83,1,12,henry mancini/johnny mercer,198922,6395808,0.99
18,1040,Summer Love,83,1,12,hans bradtke/heinz meier/johnny mercer,174994,5693242,0.99
19,1043,They Can't Take That Away From Me,83,1,12,george gershwin/ira gershwin,161227,5240043,0.99

In [40]:
with gravity_engine.connect() as con:
    stmt = select(books).order_by(books.columns.num_pages.desc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)

long_books = pd.DataFrame(result)
long_books

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,3564,The Complete Aubrey/Maturin Novels (5 Volumes),9780393060119,1,6576,2004-10-17,2143
1,3749,The Second World War,9780395416853,1,4736,1986-05-09,1212
2,6460,Remembrance of Things Past (Boxed Set),9780701125592,1,3400,1981-03-05,380
3,4138,Harry Potter Collection (Harry Potter #1-6),9780439827607,1,3342,2005-09-12,1763
4,8297,Summa Theologica 5 Vols,9780870610639,1,3020,1981-01-01,394
5,796,Harrison's Principles of Internal Medicine,9780071391405,1,2751,2004-07-27,1235
6,4121,Harry Potter Boxed Set Books 1-5 (Harry Potte...,9780439682589,1,2690,2004-09-13,1763
7,7960,The Sword of Truth Boxed Set I: Wizard's Firs...,9780812575606,2,2480,1998-11-15,2000
8,5713,The J.R.R. Tolkien Companion and Guide,9780618391134,1,2264,2006-11-02,987
9,2212,Study Bible: NIV,9780310929550,1,2198,2002-10-01,2251

In [42]:
with chinook_engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds))
    result = con.execute(stmt).scalar()
result

1378778040

In [43]:
# find the total number of pages for the ten longest books publishe din a given year?

with gravity_engine.connect() as con:
    stmt = select(func.sum(books.columns.num_pages))
    result = con.execute(stmt).scalar()
result

3741853